In [1]:
import pandas as pd

In [47]:
grades_dict = {'A' : 4, 'B' : 3.5, 'C' : 3.0, 'D' : 2.5 }
grades = pd.Series(grades_dict)

In [49]:
grades

A    4.0
B    3.5
C    3.0
D    2.5
dtype: float64

In [7]:
grades.values

array([4. , 3.5, 3. , 2.5])

In [43]:
marks_dict = {'A' : 85, 'B' : 75, 'C' : 65, 'D' : 55 }
marks = pd.Series(marks_dict)

In [45]:
marks_dict

{'A': 85, 'B': 75, 'C': 65, 'D': 55}

In [19]:
marks.values

array([85, 75, 65, 55])

In [21]:
marks['A']

85

In [23]:
marks['B']

75

In [25]:
marks[::2]

A    85
C    65
dtype: int64

In [29]:
marks[::1]

A    85
B    75
C    65
D    55
dtype: int64

In [33]:
marks[0:2]

A    85
B    75
dtype: int64

In [35]:
marks[1:2]

B    75
dtype: int64

In [51]:
D = pd.DataFrame({'Marks':marks,'Grades':grades})

In [53]:
D

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [55]:
D.T

           A     B     C     D
Marks   85.0  75.0  65.0  55.0
Grades   4.0   3.5   3.0   2.5

In [57]:
D.values

array([[85. ,  4. ],
       [75. ,  3.5],
       [65. ,  3. ],
       [55. ,  2.5]])

In [59]:
D.values[2,0]

65.0

In [61]:
D.values[2,1]

3.0

In [63]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [65]:
D['ScaledMarks'] = 100*(D['Marks']/90)

In [67]:
D

   Marks  Grades  ScaledMarks
A     85     4.0    94.444444
B     75     3.5    83.333333
C     65     3.0    72.222222
D     55     2.5    61.111111

In [69]:
del D['ScaledMarks']

In [71]:
D

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [73]:
G = D[D['Marks']>70]

In [75]:
G

   Marks  Grades
A     85     4.0
B     75     3.5