In [1]:
import pandas as pd

In [5]:
A = pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

In [7]:
A

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [9]:
A.fillna(1)

     a  b    c
0  1.0  2  1.0
1  1.0  3  4.0

In [13]:
data = pd.Series(['a','b','c'], index=[1,3,5])

In [15]:
data

1    a
3    b
5    c
dtype: object

In [17]:
data[1]

'a'

In [19]:
data[1:3]

3    b
5    c
dtype: object

In [27]:
data.loc[1:3] #explicit

1    a
3    b
dtype: object

In [25]:
data.iloc[1:3] #implicit

3    b
5    c
dtype: object